[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/soil"]
	path = vendor/soil
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library
[submodule "vendor/iniparser"]
	path = vendor/iniparser
	url = https://github.com/ndevilla/iniparser
