[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/soil"]
	path = vendor/soil
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library
[submodule "vendor/iniparser"]
	path = vendor/iniparser
	url = https://github.com/ndevilla/iniparser
[submodule "vendor/DevIL"]
	path = vendor/DevIL
	url = https://github.com/DentonW/DevIL
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
