[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/soil"]
	path = vendor/soil
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library
[submodule "vendor/iniparser"]
	path = vendor/iniparser
	url = https://github.com/ndevilla/iniparser
[submodule "vendor/DevIL"]
	path = vendor/DevIL
	url = https://github.com/DentonW/DevIL
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/entityx"]
	path = vendor/entityx
	url = https://github.com/alecthomas/entityx
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/PhysX-3.4"]
	path = vendor/PhysX-3.4
	url = git@github.com:NVIDIAGameWorks/PhysX-3.4.git
[submodule "vendor/ozz-animation"]
	path = vendor/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation
[submodule "vendor/jasper"]
	path = vendor/jasper
	url = https://github.com/mdadams/jasper
